body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.header-top {
  border: 1px solid #dedede;
}
.header-top-info {
  display: flex;
  justify-content: space-between;
  height: 67px;
  align-items: center;
}
.top-menu {
  width: 945px;
  display: flex;
  justify-content: space-between;
}
.top-menu-list {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
}
.top-menu-list a {
  color: #424242;
}
.top-menu-list-left {
  width: 352px;
}
.top-menu-list-left a {
  text-decoration: none;
}
.top-menu-list-right {
  width: 340px;
}
.list-blue {
  color: #3a95ff;
  font-weight: 600;
}
.list-blue1 a {
  text-decoration: none;
}
.main-menu-list {
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu-list a {
  text-decoration: none;
  color: #424242;
  font-size: 16px;
  font-weight: 500;
}
